.container {
    width: 80%;
    margin: auto;
    padding: 40px 0;
}

.server-hero {
    text-align: center;
    padding: 60px 20px;
}

.server-ip {
    margin-top: 15px;
    font-size: 18px;
    color: #49c5b6;
}

.server-stats {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
    text-align: center;
}

.stat h3 {
    margin-bottom: 10px;
}

.online {
    color: limegreen;
    font-weight: bold;
}

.features {
    text-align: center;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: #111;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    background: #1a1a1a;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}