/* SERVER INFORMATION CONTENT */
.server-container {
    width: 50%;
    margin: 40px auto;
    display: absolute;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.server-card {
    text-align: left;
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.server-card:hover {
    transform: translateY(-5px);
}

.server-card h2 {
    margin-top: 0;
}

.server-card ul {
    padding-left: 20px;
}

@media (max-width: 768px) {
    .server-container {
        grid-template-columns: 1fr;
    }
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #111;
    margin-top: 40px;
}

